@tailwind base;
@tailwind components;
@tailwind utilities;
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea{
 resize: none;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
	width: 12px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1f6; /* Color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
	background: #888; /* Color of the thumb */
	border-radius: 6px; /* Round the corners of the thumb */
  }
  /* END */
.red{
  border: 2px solid red !important;
}

.banner{
    background-position: 50% 35% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
 
.shadow-banner{
	/* background: linear-gradient(180deg,rgba(6,13,34,0) 40%,rgba(6,13,34,.6)); */
	background: linear-gradient(180deg,rgba(6, 13, 34, 0.185) 40%,rgba(0, 0, 0, 0.932));
}


.fade{
	animation: fadeIn 500ms ease-in; 
}

.text-xxs{
	font-size: 10px;
}

@keyframes fadeIn {  
	from {  
		opacity:0;  
	}  
 
	to {  
		opacity:1;  
	}  
 }